/* HTML */
html,body {
  height: 100%;
  position: relative;
  color: $blue-gray;
}
blockquote {
	color: $gray-dark;
	font-size: 90%;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;  	
	small {
		font-style: normal;
	}
}
small {
	line-height: 1.25 !important;
}
a, a:hover {
	text-decoration: none !important;
}
label {
	display: block !important;
	width: 100% !important;
}
hr {
		border-width: $border*2 !important;
		margin-bottom: $hr-margin-y;
}