/* HTML */
html,body {
  height: 100%;
  position: relative;
  color: $blue-gray;
}
blockquote {
	position: relative;
	font-style: italic;
}
small {
	line-height: 1.25 !important;
}
a, a:hover {
	text-decoration: none !important;
}
label {
	display: block !important;
	width: 100% !important;
}
hr {
		border-width: $border*2 !important;
		margin-bottom: $hr-margin-y;
}