// Forms
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="name"],
input[type="url"],
input[type="file"],
input[type="number"], 
textarea,
select {
	background-color: $white;
	color: $blue-gray;
	opacity:.75;
	padding: $spacer/2;
	transition: $transition1;
	border: $border*2 solid ;
	border-color: rgba($blue-gray, .75);
	font-weight: $font-weight-bold;
	border-radius: $border-radius-2;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
textarea {
	min-height: 8rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="name"]:focus,
input[type="url"]:focus,
input[type="file"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
	opacity:1 !important;
	border-color: rgba($blue-gray, 1);	
	outline: none;
	transition: $transition1;	
}

	// Validação
	.error:not(:empty) {
	  background-color: $red;
	  color: $white;
	  position: relative;
		border-radius: $border-radius-2;
		padding: $spacer/2 $spacer;
		display: block;
		margin-top: $spacer;
	}
	.error:not(:empty):before {
		top: -.5rem;
	  left: 50%;
	  content: "";
	  height: 0;
	  width: 0;
	  position: absolute;
	  pointer-events: none;
		margin-left: -.5rem;		
	  border-right: solid .5rem transparent;
	  border-left: solid .5rem transparent;
	  border-bottom: solid .5rem $red;	
	}
// Botões
.btn-yellow {
	padding: $spacer/2 $spacer !important;
	font-weight: $font-weight-extra-bold !important;
	text-transform: uppercase;	
	border: $border*2 solid $yellow !important;
	border-radius: 0 !important;
	overflow: hidden;
	display: inline-block;
	position: relative;
	background-color: $yellow !important;
	span {
		color: $white;
		transition: $transition1;					    	
		position: relative;
		z-index: 5;
	}							
	&:before {
		content:" ";
		position: absolute;
		width: 1px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 0;
		transition: $transition1;
		background-color: $white;
		opacity: 0;
		margin: auto;
	}
	&:hover {
		opacity: 1 !important;
		span {
	  	color: $yellow;
			transition: $transition1;						    	
		}								
		&:before {
			opacity: 1;
			transform: scaleX(400);
		}					    	
	}
	&:focus {
		box-shadow: none !important;
	}
}
.btn-line {
	border: $border*2 solid $blue;
	border-radius: $border-radius-5;
	color: $blue;
	font-weight: $font-weight-bold;	
	padding: $spacer/2 $spacer;
	transition: $transition1;					    	
  &:hover {
		color: $gray-light;
		border-color: $gray-light;
	}
	&:focus	{
		color: $gray-light;
		border-color: $gray-light;		
	}	
}
.btn-line-yellow {
	border: $border*2 solid $yellow;
	border-radius: $border-radius-5;
	color: $yellow;
	font-weight: $font-weight-bold;	
	padding: $spacer/2 $spacer;
	transition: $transition1;					    	
  &:hover {
		color: $gray-light;
		border-color: $gray-light;
	}
	&:focus	{
		color: $yellow;
		border-color: $yellow;		
	}
}

// Carroussel
.carousel {
	.carousel-indicators {
		position: relative;
		bottom: 0;
		margin-bottom: $spacer*2;
		li {
			background-color: rgba($white, .5);
			width: 1rem;
			height: 1rem;
			border-radius: 1rem;
			border: 0;
			margin: 0 $spacer;
			&.active {
				background-color: rgba($yellow, 1);
			}
		}
	}
	.carousel-inner {
		overflow-x: hidden;
		overflow-y: visible;
		blockquote {
			&:before, &:after {
				position: relative;
   			font-family: "Font Awesome 5 Free";
   			font-weight: 900;
   			font-size: $font-size-base;
			}
			&:before {
				content: "\0022";			
			}
			&:after {
				content: "\0022";
			}
		}
	}
	.carousel-control-prev,
	.carousel-control-next {
		width: 10%;
		opacity: 1 !important;
		transition: $transition1;
		&:hover {
			opacity: .5 !important;
			transition: $transition1;
		}
		.fa, .fas {
			color: $yellow;
			font-size: $font-size-base*2;
			transition: $transition1;		
		}
	}	
}

// Accordion
#accordion {
	.card {
		border:0;
		.card-header {
	    padding: 0;
	    margin-bottom: 0;
	    color: inherit;
	    background-color: transparent;
	    border: none;	
	    .btn-link {
	    	font-weight: $font-weight-bold;
	    	font-size: $lead-font-size;
	    	padding: 0;
	    	&:after {
					content: '\f107';
	   			font-family: "Font Awesome 5 Free";
	    	}
	    	&:hover, &:active, &:focus {
	    		text-decoration: none;
	    	}
	    }	
		}
	}
}