// Sections
section {
	@include respond-to(medium) {	
		&::before { // âncoras
		  display: block; 
		  content: " "; 
		  margin-top: -$spacer * 8; 
		  height: $spacer * 8; 
		  visibility: hidden; 
		  pointer-events: none;  
		}
	}
 	@at-root
	.h6-section,
	.h5-section,
	.h4-section,
	.h3-section,
	.h2-section,
	.h1-section {	
		font-weight: $font-weight-light;
		margin-bottom: ($spacer * 4)
	} 	
 	// Subcategoria
 	.subcat {
 		h6, h5, h4, h3, h2, h1 {
 			font-size: $font-size-xl;
 			font-weight: $font-weight-bold;
 			margin-bottom: $spacer;
 		}
 	}
	// Cards
	.card {
		border: 0;
		border-radius: 0;
		@include respond-to(upToMedium) {
			border-bottom: $border $skyblue solid;
			&:last-child {
				border: 0;
			}
		}		
		.card-img-top {
			max-width: 10rem;
			height: 15rem;		
			@include respond-to(upToMedium) {
				max-width: 8rem;
				min-height: 12rem;
				margin: 0;
			}
		}
	} 	
}

// Feature
#inicio {
	margin-bottom: $spacer*4;
	.feature {
		background-image: url(../images/feature.jpg);
		background-size: cover;
		background-position: center;
		display:flex;
		align-items:center;	
		border-bottom: $skyblue solid $border;
		&::after {
			background-image: linear-gradient(to bottom left,$blue,$black);
			opacity: .8;
		  height: calc(100% - .1rem);
		  width: 100%;
		  align-items: center;
		  display: flex;
		  position: absolute;
		  top: 0;
		  left: 0;
		  content: "";
			z-index: 1;	  
		}	
		header {
			position: relative;
		  h1, p {
			color: $skyblue;	
			position: relative;
			z-index: 2;
		  }
		  @include respond-to(medium) {
				h1 {
						margin-bottom: $spacer*6;			  		
						font-size: $font-size-xl*2;
			  		&:after {
				  	border-top: $border*2 solid $yellow;	
					  height: 0;
					  width: 8rem;
					  align-items: center;
					  display: flex;
					  position: absolute;
					  bottom: -$spacer*3;
					  left: calc(50% - 4rem);
					  transform-origin: center;
					  content: "";
						z-index: 1;	 
			  	}
				}
			}		  
		  @include respond-to(upToMedium) {
				h1 {
					font-size: $font-size-lg ;
					font-weight: $font-weight-bold;
					line-height: 1.4;
					margin-top: $spacer*2;
				}
			}
		}
	  .ico-scroll {
	  	font-size: $font-size-base*2;
	  	position: absolute;
	  	right: 50%;
	  	bottom: 0;
	  	margin-right: -25%;
	  	color: $skyblue;
			transition: $transition1;
			width: 50%;
			height: 90vs;
	    opacity: 1;
	    visibility: visible;
			position: absolute;
			z-index: 2;    
	  	&:hover {
	  		bottom: $spacer;  		
	  		color: $yellow;
	  		transition: $transition2;
	  	}
	  	&.hidden {
				transition: $transition1;
	    	opacity: 0;
	    	visibility: hidden;
	  	}
	  }
	}
}
// Destaque
.destaque {
	border-top: $skyblue solid $border*2;
	border-bottom: $skyblue solid $border*2;	
	background: url(../images/parallax1.jpg) center fixed no-repeat;
	background-size: cover;
	@include respond-to(medium) {
		min-height: 70vh;
	}	
	@include respond-to(upToMedium) {
		min-height: 100vh;
	}
	margin-bottom: $spacer*4;
	article {
		background-color: rgba($blue-gray, .9);
	}  
}

// Preços
.plano {   
  transition: $transition1;

  &.disponivel {
	  color: $blue-gray;
		background: linear-gradient(to top left,$skyblue,$white); 
  }
  &.indisponivel {
	  color: $gray;
		background: linear-gradient(to top left,$gray-lighter,$white); 		  	
  }
  h4 {
  	text-transform: uppercase;
  	small {
			font-size: 66%;
	    text-transform: initial;
	    display: block;
  	}
  }
  p {
  	font-size: 100%;
  }
  p.preco {
  	font-size:125%;
  }
	@include respond-to(medium) {
	  &.disponivel:hover, &.disponivel:focus, &.disponivel:active {
	    transform-origin: center;
	    transform: scale(1.1);
	    transition: $transition1;
	  }
	}
}