/* Navbar*/
.navbar {
	@include respond-to(medium) {	
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;		
		&.scrollNavbar {
		  background-color: rgba($skyblue, .95);
			transition: $transition1;
			.menu {
				height: 3rem;
				transition: $transition1;						
			}
		}
		&.startNavbar {
			background-color: transparent;
			transition: $transition1;
			.menu {
				height: 7rem;	
				transition: $transition1;							
			}			
		}
	}
	@include respond-to(upToMedium) {
		background-color: transparent;
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
		padding: 0 !important;    
    z-index: 1030;			
	}	
  .navbar-brand {
		@include respond-to(medium) {
			width: 150px;
			padding: 0;
			margin: 0;
			position: absolute;
			@at-root .scrollNavbar .navbar-brand {
				left: $spacer/2;
				top: $spacer/2;	
  			transition: $transition1;							
				svg {
	  			width: 100px;
	  			transition: $transition1;			
	  			path {						    		
	  				fill: $blue-gray;
	  			}
				}
			}
			@at-root .startNavbar .navbar-brand {
				left: $spacer*2;
				top: $spacer*2;
  			transition: $transition1;				
				svg {
	  			width: 150px;		
	  			transition: $transition1;  			
					path {
	    		fill: $skyblue;						
					}
				}
			}
		}
		@include respond-to(upToMedium) {
  		width: 150px;							
			position: absolute;
			left: calc(50% - 75px);
			top: $spacer;
			margin: 0;			
			@at-root .navbar .navbar-brand svg path {
    		fill: $skyblue;						
			}
		}			
	}
	.btn-nav {
		background-color: transparent;
		outline: none;
		border: none;
		padding: 0;
		z-index: 1000;
		position: absolute;
		right: $spacer/2;
		top: $spacer/2;
		@include respond-to(medium) {	
			display:none;
		}
		.hamburger-inner {
			background-color: $skyblue;
			&:after,
			&:before {
				background-color: $skyblue;				
			}
		}
	}
	.menu {
		@include respond-to(upToMedium) {
			background-color: darken($blue-gray, 5% );
			height: 100vh;									
			opacity: 0;
			visibility: hidden;
			position: fixed;				
			top: 0;
			padding-top: 3rem;
			transition: $transition1;			
			&.open {
				width: 100%;
				opacity: 1;
				visibility: visible;				
				transition: $transition1;				
			}
		}
		.navbar-nav {
			@include respond-to(medium) {
				justify-content: center;				
			}
			@include respond-to(upToMedium) {
				justify-content: flex-start;
				border-top: rgba($black, .1) $border solid;
				padding: $spacer;
			}
			.nav-item {	
				@include respond-to(medium) {
					font-weight: $font-weight-extra-bold;					
					text-transform: uppercase;		
					position: relative;
					@at-root .startNavbar .nav-item {
						font-size: $font-size-lg;
					}					
					@at-root .scrollNavbar .nav-item {
						font-size: $font-size-base;
					}
				}					
				@include respond-to(upToMedium) {
					font-size: $font-size-lg;
					font-weight: $font-weight-normal;					
					text-transform: none;
					// &:nth-child(1) {
					// 	margin-top: $spacer * 1;
					// }						
				}
				.nav-link {
			    transition: $transition1;
  				@include respond-to(medium) {
			    	@at-root .scrollNavbar .navbar-nav .nav-item .nav-link {
							color: $blue-gray;
		    		}
			    	@at-root .startNavbar .navbar-nav .nav-item .nav-link {
							color: $skyblue;
		    		}    		
	    		}
					@include respond-to(upToMedium) {
						color: $skyblue;
						padding: $spacer/4 $spacer;
					}

					// Hovering
			    &:hover,
			    &:focus {
			    	opacity: .5;
			    	transition: $transition1;
			    }
			    // Marcador active
					&.active {
						transition: $transition1;			
						color: $yellow;
						&:hover {
							opacity: 1 !important;
						}
					}					
				}
			}
		}
	}
}


// botão Contato
@include respond-to(medium) {
	.contato.navbar-nav {
		position: absolute;
		width: auto;
		@at-root .startNavbar .contato.navbar-nav {
			right: $spacer*2;
			top: $spacer*2;
			transition: $transition1;
		}
		@at-root .scrollNavbar .contato.navbar-nav {
			right: $spacer/2;
			top: $spacer/2;	
			transition: $transition1;					
		}
		.nav-item {	    		
		overflow: hidden;
		display: inline-block;
		position: relative;
			.nav-link {
				border: $border*2 solid $yellow;
				color: $yellow;
				span {
			  	color: $yellow;
			  	position: relative;
			  	z-index: 5;
				}							
				&:after {
					content:" ";
					position: absolute;
					width: 1px;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					z-index: 0;
					transition: $transition1;
			  	background-color: $yellow;
					opacity: 0;
					margin: auto;
				}
			  &:hover,
			  &:focus {
					opacity: 1 !important;
			  	span {
			    	color: $skyblue;
						transition: $transition1;						    	
			  	}
					&:after {
						opacity: 1;
						transform: scaleX(200);					    	
			  	}					    	
				}
				&.active {
					-webkit-text-fill-color: inherit !important;								
					&:before {
					}
				}
			}
		}
	}
}

@include respond-to(upToMedium) {
	.contato.navbar-nav {
		width: 100%;
		.nav-item {
    	width: 50%;
			.nav-link {						
				color: $blue-gray !important;
				background-color: $yellow;
				font-weight: $font-weight-bold;
				padding: $spacer/2 $spacer !important;
				&:hover {
					opacity: 1 !important;
					background-color: darken($yellow, 10%);
				}
				&.active {
					&:before {
						display: none !important;
					}
				}
			}
		}
	}
}